In [1]:
import pandas
import numpy

In [5]:
comment = pandas.read_csv('../data/csv/JData_Comment.csv')
product = pandas.read_csv('../data/csv/JData_Product.csv')
user = pandas.read_csv('../data/csv/JData_User.csv')

In [6]:
user

        user_id     age  sex  user_lv_cd user_reg_dt
0            54      -1    2           1   2016/1/26
1            79  36-45岁    2           2   2016/1/27
2           100  16-25岁    2           3   2016/1/27
3           266   15岁以下    2           2   2016/1/29
4           333      -1    2           4   2016/1/30
5           605  26-35岁    2           2    2016/2/1
6           638  26-35岁    0           5   2010/8/12
7           686      -1    2           1    2016/2/1
8           692  16-25岁    2           2    2016/2/1
9           819  26-35岁    2           3    2016/2/2
10          861  36-45岁    2           3    2016/2/2
11         1204      -1    2           1    2016/2/7
12         1331      -1    2           1    2016/2/8
13         1334  26-35岁    2           2    2016/2/8
14         1394  36-45岁    2           2    2016/2/9
15         1422  26-35岁    2           3   2016/2/10
16         1442      -1    0           5   2010/8/16
17         1598      -1    2           1   2016/2/12
18         1665  36-45岁    2           2   2016/2/13
19         1847      -1    2           1   2016/2/14
20         1892      -1    2           1   2016/2/14
21         1988  16-25岁    1           3   2016/2/15
22         2002  26-35岁    0           4   2013/4/23
23         2048  26-35岁    2           4   2016/2/16
24         2072  36-45岁    0           3   2016/2/16
25         2078  36-45岁    2           2   2016/2/16
26         2079      -1    2           1   2016/2/16
27         2189  26-35岁    2           3   2016/2/17
28         2231  26-35岁    0           5   2013/4/24
29         2276  36-45岁    1           5   2010/8/17
...         ...     ...  ...         ...         ...
103586    84620  36-45岁    2           4   2015/7/20
103587    84824  36-45岁    0           4   2008/9/14
103588    85091  36-45岁    0           5  2006/10/27
103589    85991  26-35岁    0           5   2010/5/31
103590    86920  36-45岁    2           3   2015/8/18
103591    87235  26-35岁    0           4    2010/6/6
103592    91374      -1    2           3   2015/10/8
103593    93721  36-45岁    0           5   2013/1/25
103594    94327  36-45岁    0           4   2013/1/29
103595    94946  26-35岁    2           5   2015/11/7
103596    95232  16-25岁    2           4   2015/11/9
103597    95586  16-25岁    2           4   2013/2/10
103598    95634  36-45岁    2           3  2015/11/10
103599    95762  36-45岁    0           5    2010/7/8
103600    96822      -1    2           3  2015/11/14
103601    97028  26-35岁    2           5   2013/2/26
103602    98058  36-45岁    0           3    2013/3/4
103603    98661  36-45岁    0           5   2010/7/21
103604   100620  26-35岁    2           3  2015/12/26
103605   100745  36-45岁    0           4  2015/12/27
103606   101031  36-45岁    2           3  2015/12/31
103607   101033  36-45岁    2           3  2015/12/31
103608   101193      -1    2           4    2016/1/2
103609   101515  26-35岁    0           5   2013/3/28
103610   101654  26-35岁    2           2    2016/1/6
103611   101903  26-35岁    2           4    2016/1/9
103612   102078  36-45岁    2           4   2016/1/11
103613   102573  36-45岁    0           4    2013/4/4
103614   103402  26-35岁    0           4    2013/4/9
103615   103465  36-45岁    0           3   2016/1/24

[103616 rows x 5 columns]

In [20]:
product

       sku_id  attr1  attr2  attr3  cate  brand
0      166731      1     -1     -1     8    545
1      146488      2      2     -1     8    812
2       70546      3      1      1     8    214
3       92487      2      2     -1     8    812
4      113065      2      2     -1     8    812
5       80307      2      2     -1     8    812
6       71669      2      1     -1     8    812
7        4145      2      2      1     8    812
8       35450      2      2     -1     8    812
9      131403      2      1     -1     8    812
10     128621      2      1     -1     8    812
11      65347      2      1      2     8    812
12      68153      2      1      2     8    812
13      77945      2      1     -1     8    812
14     167028      2      1     -1     8    812
15      14771      2      1      2     8    812
16     153408      2      1     -1     8    812
17      39874      2      2     -1     8    812
18      83454      2      1     -1     8    812
19     141684      2     -1      2     8    623
20      78125      2      1     -1     8    812
21     129840      2      2      2     8    623
22      42772      2     -1      2     8    623
23      51732      2      1      2     8    623
24      61364      2      1     -1     8    812
25     162019      2      2      1     8    812
26      33786      2      1      2     8    812
27      69751      2      2     -1     8    812
28      80861      2      1      1     8    812
29      35975      2     -1      2     8    812
...       ...    ...    ...    ...   ...    ...
24157   20168      2      2      2     8    623
24158    7067      2      2     -1     8    623
24159   86694      3      2      1     8    214
24160  159345      3      1      1     8    214
24161  171111      3      2      1     8    214
24162   19852      3      1      1     8    214
24163   29463      3      2      1     8    214
24164   30805      3     -1     -1     8    214
24165  167877      3     -1     -1     8    214
24166   83586      3     -1     -1     8    214
24167   54425      3     -1     -1     8    214
24168   26123      3      1      2     8    489
24169  127618      3      1      2     8    489
24170   64484      3      1     -1     8    306
24171   49835     -1     -1     -1     8     49
24172  127766      2      1      2     8    623
24173   17688      2      1      2     8    623
24174  118669      2      1      2     8    124
24175  106654      2      1      2     8    124
24176   93873      2      1      2     8    124
24177  112603      2      2     -1     8    812
24178  112739     -1     -1     -1     8    383
24179   26059     -1     -1     -1     8    383
24180   68696     -1     -1     -1     8    383
24181  101664      1      1      2     8    693
24182   38128      1      1      1     8    427
24183  110813      2      2      1     8    812
24184   72751      2      1      1     8    812
24185  112327      2      1      1     8    812
24186     315      2      2      1     8    812

[24187 rows x 6 columns]

In [3]:
action02 = pandas.read_csv('../data/csv/JData_Action_201602.csv')

In [15]:
action02[action02['user_id'] == 10396]

          user_id  sku_id                 time  model_id  type  cate  brand
2           10396   65823  2016-02-01 08:20:59       NaN     6     6     78
4           10396   65823  2016-02-01 08:20:56       NaN     6     6     78
5           10396   65823  2016-02-01 08:21:05       NaN     6     6     78
47          10396   65823  2016-02-01 08:21:05       NaN     6     6     78
7760        10396   65823  2016-02-01 08:21:13       NaN     6     6     78
137403      10396   65823  2016-02-01 08:20:57       NaN     1     6     78
1603250     10396   35988  2016-02-04 07:06:43       NaN     1     6     78
1603251     10396   35988  2016-02-04 07:06:43       NaN     1     6     78
1605178     10396  170626  2016-02-04 07:09:20       NaN     1     6     78
1605179     10396  170626  2016-02-04 07:09:20       NaN     1     6     78
1607372     10396   18585  2016-02-04 23:19:58       NaN     1     5    159
1612165     10396   30199  2016-02-04 07:07:52       NaN     1     5    159
1612166     10396   30199  2016-02-04 07:07:52       NaN     1     5    159
1612498     10396   85780  2016-02-04 23:20:39       NaN     1     5    159
1629788     10396  162324  2016-02-04 07:05:12       NaN     1     6    251
1629789     10396  162324  2016-02-04 07:05:42       NaN     1     6    251
1629790     10396  162324  2016-02-04 07:05:12       NaN     1     6    251
1629791     10396  162324  2016-02-04 07:05:42       NaN     1     6    251
1653952     10396   65823  2016-02-04 07:07:52       NaN     1     6     78
1653953     10396   65823  2016-02-04 07:08:49       NaN     1     6     78
1653955     10396   65823  2016-02-04 07:07:52       NaN     1     6     78
1653956     10396   65823  2016-02-04 07:08:49       NaN     1     6     78
1670774     10396  104129  2016-02-04 07:06:13       NaN     1     6    200
1670775     10396  104129  2016-02-04 07:03:41       NaN     1     6    200
1670776     10396  104129  2016-02-04 07:01:10       NaN     1     6    200
1670777     10396  104129  2016-02-04 07:01:10       NaN     1     6    200
1670778     10396  104129  2016-02-04 07:06:13       NaN     1     6    200
1670779     10396  104129  2016-02-04 07:03:41       NaN     1     6    200
1686670     10396   54209  2016-02-04 23:54:19       NaN     1     6    306
1698029     10396   67673  2016-02-04 07:05:42       NaN     1     6     78
...           ...     ...                  ...       ...   ...   ...    ...
2382260     10396   23757  2016-02-05 06:46:33     217.0     6     4    200
2382262     10396   23757  2016-02-05 06:46:03     217.0     6     4    200
2385713     10396   70491  2016-02-05 06:45:02     217.0     6     6    306
2385717     10396    5888  2016-02-05 06:44:32     217.0     6     4    519
2387852     10396  170626  2016-02-05 06:56:33     217.0     6     6     78
2389178     10396   44605  2016-02-05 06:56:33     217.0     6     6    200
2409987     10396  104129  2016-02-05 06:56:03      27.0     6     6    200
2411012     10396  170626  2016-02-05 06:57:03      27.0     6     6     78
2554339     10396  104129  2016-02-06 17:29:39       NaN     1     6    200
2554340     10396  104129  2016-02-06 17:29:39       NaN     1     6    200
2653289     10396  104129  2016-02-06 17:29:39     216.0     6     6    200
2704955     10396  104129  2016-02-06 17:29:39       0.0     6     6    200
2727112     10396  104129  2016-02-06 17:29:39     217.0     6     6    200
12422177    10396  104129  2016-02-23 21:37:35       NaN     6     6    200
12422179    10396  104129  2016-02-23 21:37:35       NaN     6     6    200
12543960    10396  104129  2016-02-23 21:37:35       NaN     1     6    200
12677667    10396   13931  2016-02-23 21:35:42       NaN     1     5    159
12734660    10396   13931  2016-02-23 21:35:42      33.0     6     5    159
12734681    10396   13931  2016-02-23 21:35:42      33.0     6     5    159
13949992    10396  170626  2016-02-25 16:34:36       NaN     2     6     78
13961792    10396   30199  2016-02-25 16:34:36       NaN     2     5    159
13962364    10396   85780  2016-02-25 16:34:36       NaN     2     5    159
14038296    10396   65823  2016-02-25 16:44:15       NaN     1     6     78
14038297    10396   65823  2016-02-25 16:34:36       NaN     2     6     78
14040343    10396   73870  2016-02-25 16:34:36       NaN     2     7     56
14061005    10396  104129  2016-02-25 16:43:49       NaN     1     6    200
14061006    10396  104129  2016-02-25 16:34:36       NaN     2     6    200
14205552    10396   13931  2016-02-25 16:34:36       NaN     2     5    159
14674985    10396  104129  2016-02-25 16:43:49       0.0     6     6    200
14687583    10396   65823  2016-02-25 16:44:15       0.0     6     6     78

[247 rows x 7 columns]